// $font-stack: Helvetica, sans-serif;
$primary-color: #1DA1F2;
$secondary-color: #01081E;
$tertiary-color: #151C31;
$primary-text-color: #213f7d;
$orange-color: orange;
$alert-color: red;
$success-color: #00BE13;